<!DOCTYPE html>
<html>

<head>
<title>About Us</title>
</head>

<body>
<h1>ADS-509 Project</h1>
<p>This project is a part of the ADS-509 Applied Text Mining course in the Applied Data Science Program at the University of San Diego.</p>

<h2>Contributers:</h2>
<ul>
    <li>Gil, Oscar (<a href="mailto:ogil@sandiego.edu">ogil@sandiego.edu</a>)</li>
    <li>Richardson, Christopher (<a href="mailto:cristopherr@sandiego.edu">cristopherr@sandiego.edu</a></li>
    <li>Taghavi, Nima (<a href="mailto:namintaghavi@sandiego.edu">namintaghavi@sandiego.edu</a>)</li>
</ul>

<h2>Objective</h2>
<p>We aim to determine whether negative comments are more helpful in determining the value of a course versus positive comments. 
Additionally, we will assess if the sentiment of a course's corpus reflects the average score of the course.</p>

<h2>Acknowledgements</h2>
<p>Data was scraped from <a href="https://www.coursera.org/" target="_blank">Coursera.org</a> and thus would like to thank 
Coursera.org and its foundres Andrew Ng and Daphne Koller for their mission in providing life-transforming learning experiences 
to learners around the world.</p>

<h3>Disclaimer</h3>
<ol>
    <li>This project is strictly for educational purposes at the <a href="https://www.sandiego.edu/" target="_blank">University of San Diego</a> 
        and nothing more.</li>
    <li>Data utilized in this project is solely owned by <a href="https://www.coursera.org/" target="_blank">Coursera.org</a>. 
        Coursera's Robot.txt(scrape bot policy) is available at <a href="https://www.coursera.org/robots.txt" target="_blank">coursera.org/robots.txt</a>.</li>
</ol>

<h1>For a better tomorrow!</h1>

</body>

</html>