body,
html {
    margin: 0;
    font-family: sans-serif;
}

.with_bg {
    background-image: url('/static/images/bg.jpg');
    background-size: auto;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table,
td,
th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

@media (min-width: 768px) {
    .navbar-header {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}


#review_text {
    color: teal;
    font-size: 30px
}


#word_chart {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 55px;
    margin-bottom: 20px;
    margin-right: 20px;
}


#img_source {
    position: fixed;
    bottom: 0;
    margin-left: 20px;
}

#predict_button {
    position: relative;
    float: right;
    margin-top: 20px;
    background-color: teal;
    font-size: 1.2em;
}


.predict_card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    padding: 20px 20px;
}

.predict_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.prediction_container {
    margin-top: 50px;
    position: relative;
    float: left;
    left: 20%;
    width: 1200px;
}